# Dependencies
node_modules/
package-lock.json

# Environment & Config
.env
.env.local

# Logs
*.log
npm-debug.log*

# Archive outputs & Staging dumps
*.zip
frontend-dump-*.zip
morena-dump-*.zip

# OS & Editor Files
.DS_Store
.vscode/
.idea/
